@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,600;1,600&display=swap");

:root {
  color-scheme: light;
  --text-primary: light-dark(#403f3d, #e1d4c9);
  --text-inverse: light-dark(#e1d4c9, #e1d4c9);
  --text-accent: light-dark(#b0907a, #b0907a);
  --background-page: light-dark(#e1d4c9, #292826);
  --background-container: light-dark(#665f55, #403f3d);
  --background-overlay: light-dark(
    rgba(64, 63, 61, 0.8),
    rgba(41, 40, 38, 0.8)
  );
  --border-primary: light-dark(#c1b6ad, #665f55);
  --border-inverse: light-dark(#665f55, #c1b6ad);
  --page-padding: 40px;
}

:root[data-theme="light"] {
  color-scheme: light;
}

:root[data-theme="dark"] {
  color-scheme: dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 380px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  color: var(--text-primary);
  background-color: var(--background-page);
  padding: 20px var(--page-padding) 40px;
}

@media (max-width: 380px) {
  :root {
    --page-padding: 16px;
  }
}

@media (max-width: 768px) {
  :root {
    --page-padding: clamp(16px, 5.21vw, 40px);
  }
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
  }
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  padding: 0;
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

img,
svg {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}
