<footer id="contacts" class="footer">
  <div class="offer">
    <h2 class="heading-2">
      Sip, Savor, Smile.
      <br />
      <span class="heading-2 accent">It’s coffee time!</span>
    </h2>

    <div class="socials">
      <a
        class="socialLink"
        href="#"
        aria-label="Twitter"
      >
        <img
          src="./assets/icons/twitter.svg"
          alt="Twitter"
        />
      </a>

      <a
        class="socialLink"
        href="#"
        aria-label="Instagram"
      >
        <img
          src="./assets/icons/instagram.svg"
          alt="Instagram"
        />
      </a>

      <a
        class="socialLink"
        href="#"
        aria-label="Facebook"
      >
        <img
          src="./assets/icons/facebook.svg"
          alt="Facebook"
        />
      </a>
    </div>
  </div>

  <div class="contacts">
    <h3 class="heading-3">Contact us</h3>

    <address class="contactList">
      <a
        class="contactItem linkButton"
        href="https://maps.google.com/?q=8558+Green+Rd,+LA"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="./assets/icons/pin.svg"
          alt="Pin"
        />
        <span>8558 Green Rd., LA</span>
      </a>

      <a
        class="contactItem linkButton"
        href="tel:+16035550123"
      >
        <img
          src="./assets/icons/phone.svg"
          alt="Phone"
        />
        <span>+1 (603) 555-0123</span>
      </a>

      <div class="contactItem linkButton">
        <img
          src="./assets/icons/clock.svg"
          alt="Clock"
        />
        <span>Mon–Sat: 9:00–23:00</span>
      </div>
    </address>
  </div>
</footer>